.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--text-secondary);
  font-size: var(--font-sm);

  margin-bottom: var(--space-lg);
}

.breadcrumb span:last-child {
  color: var(--text-primary);
  font-weight: var(--font-semibold);
}