.support-container{

display:flex;

align-items:center;

gap:10px;

}

.support-btn{

width:34px;

height:34px;

border:none;

border-radius:8px;

background:#F3F4F6;

cursor:pointer;

color:#465A26;

transition:.25s;

}

.support-btn:hover{

background:#465A26;

color:white;

}