.reply-btn{

padding:10px 18px;

background:#465A26;

border:none;

border-radius:10px;

color:white;

font-size:var(--font-control);

font-weight:600;

cursor:pointer;

transition:.25s;

white-space:nowrap;

}

.reply-btn:hover{

background:#5D7434;

}

