/* ==========================================================
   Login Footer
   ========================================================== */

.login-footer {

    width: 100%;

    min-height: 90px;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 20px;

    box-sizing: border-box;

}

.login-footer p {

    margin: 0;

    font-size: 16px;

    font-weight: 400;

    color: #64748B;

    font-family: inherit;

    text-align: center;

}

/* ==========================================
   Responsive
========================================== */

@media screen and (max-width: 576px) {

    .login-footer p {

        font-size: 13px;

    }

}