/* ==========================================================
   KYC PAGE
========================================================== */

.kyc-layout .kyc-page{

    width:100%;

    display:flex;

    flex-direction:column;

    gap:0;

    animation:fadeIn .35s ease;

}

/* ==========================================
   Loading
========================================== */

.kyc-layout .kyc-loading{

    width:100%;

    height:70vh;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:18px;

    font-weight:600;

    color:#465A26;

}

/* ==========================================
   Responsive
========================================== */

@media(max-width:1200px){

.kyc-layout .kyc-page{

gap:26px;

}

}

@media(max-width:992px){

.kyc-layout .kyc-page{

gap:22px;

}

}

@media(max-width:768px){

.kyc-layout .kyc-page{

gap:18px;

}

}

@media(max-width:576px){

.kyc-layout .kyc-page{

gap:16px;

}

}

