.ride-table-wrapper{

    width:100%;

    overflow:auto;

    background:white;

    border-radius:20px;

    box-shadow:0 4px 18px rgba(0,0,0,.05);

}

.ride-table{

    width:100%;

    min-width:2200px;

    border-collapse:collapse;

}

.ride-table thead{

    background:#465A26;

    color:white;

}

.ride-table th{

    padding:18px;

    font-size:var(--font-table-heading);

    text-align:left;

}

.ride-table td{

    padding:18px;

    border-bottom:1px solid #ECECEC;

    font-size:var(--font-table-body);

    vertical-align:middle;

}

.ride-table tbody tr:hover{

    background:#F9FBF7;

}
